iQueue/bin/
iQueue/iConsumer/bin/
iQueue/iConsumer/obj/
iQueue/iModel/bin/
iQueue/iProducer/obj/
iQueue/obj/
iHealthCheck/obj/
iQueue/.docker/
iQueue/iUtility/bin/
iQueue/iUtility/obj/
iQueue/iQueue/bin/
iHealthCheck/bin/
iQueue/.vs/
iQueue/iModel/obj/
iQueue/iProducer/bin/
